<div class="page-container">

  <h2>Vortex Video</h2>

  <div class="search">
    <input type="text" [(ngModel)]="searchTerm" (input)="filterVideos()" placeholder="Buscar videos..."
      class="search-input" />
  </div>

  <app-recent-carousel [videos]="recentVideos">
  </app-recent-carousel>

  <app-favorites-carousel [videos]="favoriteVideos">
  </app-favorites-carousel>

  <div class="continue-container">
    <app-continue-watching-card *ngFor="let video of continueWatching" [item]="video" (playItem)="playContinue($event)">
    </app-continue-watching-card>
  </div>

  <div class="video-gallery" [class.searching]="isSearching">
    <button class="theme-toggle" (click)="toggleDarkMode()">
      Cambiar modo
    </button>
    <button *ngIf="currentPath" class="back-button" (click)="goBack()">
      ← Regresar
    </button>
    <app-artists-gallery [videos]="filteredVideos" [currentPath]="currentPath" (folderSelected)="openFolder($event)"
      (goBackClick)="goBack()">
    </app-artists-gallery>
  </div>
</div>