.recent-section {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
}

.recent-section h3 {
  margin: 10px 0;
  font-size: 1.2rem;
  color: var(--text-color);
}

/* Contenedor general con flechas */
.carousel-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Botones izquierda derecha */
.arrow {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background: rgba(0,0,0,.7);
  color: white;
  cursor: pointer;
  font-size: 18px;
  transition: .3s;
}

.arrow:hover {
  transform: scale(1.1);
  background: rgba(0,0,0,.9);
}

/* Zona deslizable */
.carousel {
    display: flex;
    gap: 15px;

    overflow-x: auto;
    overflow-y: visible;

    padding: 20px 15px;
}

/* Ocultar scrollbar */
.carousel::-webkit-scrollbar {
  height: 6px;
}

.carousel::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Tarjeta */
.recent-card {
  min-width: 260px;
  cursor:pointer;
  text-align:center;
  transition: transform .3s;
  position: relative; /* importante */
}

.recent-card img {
  width:260px;
  height:150px;
  object-fit:cover;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,.3);
  transition: box-shadow .3s;
}

.recent-card:hover img {
  box-shadow:
    0 0 5px #ff0000,
    0 0 15px #ff1a1a,
    0 0 30px #ff0000,
    0 0 60px #990000,
    0 0 100px #ff0000;
}

.recent-card:hover {
  transform: translateY(-5px);
}

/* Imagen */
.recent-card img {
  width:260px;
  height:150px;
  object-fit:cover;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,.3);
}

/* Nombre */
.video-name {
  margin-top:6px;
  font-size:.85rem;
  color:var(--video-title-color);
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.arrow {
    flex-shrink:0;
    width:40px;
    height:40px;
    border-radius:50%;
    border:none;
    background:rgba(0,0,0,.7);
    color:white;
    cursor:pointer;
    font-size:18px;
}

.favorite-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    background: rgba(0,0,0,.55);
    color: white;              /* corazón blanco */
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform .2s ease,
    color .2s ease,
    background .2s ease;
}

.favorite-btn:hover{
    transform: scale(1.15);
}

.favorite-btn.favorite{
    color: #ff3b5c;            /* rojo cuando tiene like */
}